#map {
	width: 100%;
	height: 500px;
}


.overlay{
	min-height:500px;
	min-width:500px;
	opacity: 1;
	display:block;
	overflow: hidden !important; 
}

.site-content{
	text-align: center; 
}

.overlay-btn{
	position:absolute;
	right:0px;
	top:0px;
	border-radius:20%;
	color:#fff;
	z-index:100;
}

.crime-stats{
	font-size:16px;
	color:#800000;
	left:0px;
	font-weight:900;
}

#google-map-overlay {
    position: relative;
    opacity: 0.9;
    top: 0px; 
    left: 0px; 
}

table{
  border-collapse: collapse;
  border-spacing: 0; 
  font-size:10px;
  border-radius:20%;
  width:100%;
}

table .gang-name td{
	 background:#F73D0A;
	 color:#fff;
}


table h1{
	font-size:14px;
	
}

table h2{
	font-size:12px;
}

.table-div{
	margin-bottom:50px;
	margin-top:50px;
}

table td{
	
}

table .topRow td{
	background-color:#800000;
	color:#fff;
}

.process-btn{
    background: #800000;
}

.cluster-Atlantis{background-color:khaki}
.cluster-Strand{background-color:gold}
.cluster-NoordHoek{background-color:goldenrod}
.cluster-FishHoek{background-color:greenyellow}
.cluster-Harare{background-color:gainsboro}
.cluster-Kraaifontein{background-color:turquoise}
.cluster-LingelethuWest{background-color:coral}
.cluster-Khayelitsha{background-color:wheat}
.cluster-Mfuleni{background-color:thistle}
.cluster-Delft{background-color:slateblue;color:#fff}
.cluster-MitchellsPlain{background-color:tan}
.cluster-PhillippiEast{background-color:skyblue}
.cluster-Muizenberg{background-color:silver}
.cluster-Steenberg{background-color:rosybrown;color:#fff}
.cluster-GrassyPark{background-color:seashell}
.cluster-Kirstenhof{background-color:purple;color:#fff}
.cluster-Parow{background-color:royalblue;color:#fff}
.cluster-Nyanga{background-color:saddlebrown;color:#fff}
.cluster-ElsiesRiver{background-color:beige}
.cluster-HoutBay{background-color:bisque}
.cluster-PhilippiCentral{background-color:blueviolet;color:#fff}
.cluster-BishopLavis{background-color:burlywood;color:#fff}
.cluster-Gugulethu{background-color:hotpink}
.cluster-Goodwood{background-color:khaki}
.cluster-Dieprivier{background-color:navajowhite}
.cluster-Manenberg{background-color:navy;color:#fff}
.cluster-Milnerton{background-color:darkcyan;color:#fff}
.cluster-Wynberg{background-color:darkgoldenrod;color:#fff}
.cluster-Langa{background-color:darkgray;color:#fff}
.cluster-Lansdowne{background-color:darkkhaki;color:#fff}
.cluster-Athlone{background-color:darkorange;color:#fff}
.cluster-Mowbray{background-color:deepskyblue}
.cluster-Claremont{background-color:darkturquoise;color:#fff}
.cluster-Pinelands{background-color:darkred;color:#fff}
.cluster-Maitland{background-color:firebrick;color:#fff}
.cluster-Rondebosch{background-color:floralwhite}
.cluster-SeaPoint{background-color:forestgreen;color:#fff}
.cluster-Woodstock{background-color:fuchsia;color:#fff}
.cluster-CapeTownCentral{background-color:tan}

